#wrapper {
  margin: 10px auto;
  opacity: 0;
  transition-delay: 0.5s;
  transition: margin 1.2s, opacity 0.6s;
  transition-timing-function: ease-out;
}
#loader {
  width: 50px;
  height: 50px;
  position: absolute;
  transition: opacity 0.5s;
  top: 146px;
  left: 50%;
  margin: -25px 0 0 -25px;
  font-size: 10px;
  text-indent: -12345px;
  border-left: 2px solid rgba(255,255,255,0.8);
  border-radius: 50%;
  animation: spinner 700ms infinite linear;
  z-index: 100001;

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
